Source: aurora-scheduler
Priority: optional
Maintainer: The Aurora Scheduler authors <dev@aurora-scheduler.github.io>
Build-Depends: debhelper (>= 9),
 java8-sdk | openjdk-8-jdk,
 gradle (>= 5.6.4) | gradle-5.6.4,
 python3.8-dev,
 python3.8-distutils,
 libkrb5-dev,
 curl,
 openssl,
 git,
 wget
Section: net
Standards-Version: 3.9.5
Homepage: https://aurora-scheduler.github.io

Package: aurora-scheduler
Architecture: any
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends},
 adduser,
 openjdk-8-jre-headless | java8-runtime-headless,
 mesos (>= 1.7.0)
Recommends: aurora-tools
Suggests: aurora-doc
Description: Aurora Scheduler
 Aurora is a service scheduler that runs on top of Apache Mesos, enabling you
 to run long-running services that take advantage of Apache Mesos' scalability,
 fault-tolerance, and resource isolation.
 .
 This package contains the Aurora Scheduler daemon.

Package: aurora-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Documentation for Aurora Scheduler
 Aurora is a service scheduler that runs on top of Apache Mesos, enabling you
 to run long-running services that take advantage of Apache Mesos' scalability,
 fault-tolerance, and resource isolation.
 .
 This package contains documentation.
